/*------------------------------------------------------------
  Links
------------------------------------------------------------*/
a {
    color: #2a92ea;
}

.link {
  display: inline
}
.icon {
  width: 50px !important;
  height: 50px !important;
}

.center {
  padding: 20px;
  text-align: center;
}