/*------------------------------------------------------------
  Links
------------------------------------------------------------*/
a {
    color: #2a92ea;
}

.link {
  display: inline;
  color: #E86936;
}
.icon {
  width: 70px !important;
  height: 70px !important;
}

.center {
  padding: 20px;
  text-align: center;
}